/* Global Layout Set-up */
*{
    box-sizing: border-box;
    padding: 0:
    margin: 0;
}

body{

    font-family: 'Oswald', sans-serif;
    color: black;
    background:#e1e8ec;
    
}
h1,h2,h3 {
    font-family:'Otomanopee One', sans-serif;
    color:darkslateblue;
}
ul {
    list-style-type: none;
}


a:link {
    text-decoration: none;
}

a:hover{
    color: #4c5175;
}

img{
    width: 50%;
}
.menu li{
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
    
}

.name a{
        font-size: 1.5em;
        text-transform: capitalize;
      }
.item-footer{
    display:none;
}

footer li{
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
}

/* Section Styles */
.menu{
    color:darkslateblue;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.item{
    background-color: #f8f8f8;
    display:block;
    padding: 5px;
}
.main-header{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.bio {
    font-size: 1.25em;
}
.profile-img{
    width: 100%;
    align-content: center;
}

.title{
    background: #f8f8f8;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}

#portfolio{
    display:flex;
    flex-wrap: wrap;
    background: #f8f8f8;
    
  }
.project{
    flex-basis: 100%;
    text-align: center;
}

#contact{
    text-align: center;
}
#footer{
    background: #f8f8f8;
    display:flex;
    flex-direction: column;
}
.back-to-top{
    margin-right: 0;
}
 

@media (min-width: 768px){
    .menu {
     flex-direction: row;
    }

    .name{
        text-align: left;
    }

    .item{
        align-items: flex-end;
        background-color:#e1e8ec;
    }
    
    .main-header{
        flex-direction: row-reverse;
        text-align: center;
    }
    .profile-img{
        width: 100%;
    }
    #portfolio{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .profile-img{
        align-self: center;
    }
    #footer{
        flex-direction: row;
    }

    .item-footer{
        margin-right: auto;
    }

@media (max-width: 1024px){
    .menu{
        flex-direction: row;
    }

    #portfolio{
        flex-direction: row;
        flex-wrap: wrap;    
        justify-content: space-around;
    }

    .project{
        flex-basis: 30%; 

    }
    #footer{
        flex-direction: row;
    }
    .item-footer{
        display:contents;
    }
    .back-to-top{
        display: none;
    }
    
}

