/* Global Layout Set-up */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color:black;
    background:#e1e8ec;
    line-height: 1.5;
    
}

ul,
li{
    margin:0;
    padding:0;
    list-style-type: none;
}


img{
    width: 100%;
    margin: 10px;
}

/* Section Styles */
/*.name,
.nav{
    display:flex;
    flex-direction: row;
}
*/
.main-nav{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 30px;
    padding: 16px;
    margin: none;
}

.nav{
    margin:auto;
    text-transform: uppercase;
    text-decoration-line: none;
    text-align: right;
    
}

.name{
    margin: 0;
    color: black;
    text-align:left;
}

.nav a {
    padding: 10px 15px;
    color: #4c5175;
    font-size: 1.125em;
    font-weight: 300;
    padding: .4em;
    border-bottom: 1px solid #bce7d9
}

.nav a:hover{
    color: black;
    border-bottom-color: cadetblue;
}
.main-header{
    display:flex;
}

.bio {
    text-align: center;
    padding: 10px;
    margin: 15px;

}
.profile-img{
    width: 300px;
    right: 150px;
    
}

#portfolio{
    display:flex;
    flex: wrap;
    background: #f8f8f8;
    padding: 10px;
    flex-basis: 50%;  
    margin:20px;
}
.project{
    flex-basis: 50%;
}

#contact{
    text-align: center;
}
footer{
    background: #f8f8f8;
}
 /*

@media (min-width: 360px){
    .main-nav{
     flex-direction: column;
    }
    .main-header{
        flex-direction: column;
    }
    .portfolio{
        flex-direction: column;
        justify-content: space-between;
    }

    
}
@media (min-width: 768px) {
    .main-nav{
        justify-content: flex-start;
        justify-content:space-between;
    }

    .main-header{
        height: 200px;
        margin-top:3em;
        flex-direction:column;
        justify-content:flex-end;
    }
    .nav a{
        border-bottom-color: transparent;
    }
    .portfolio,{
        flex-direction: row;
        margin: 0 auto;
    }
    
}

@media (min-width: 1024px){
    .name
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav,
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
,
    .project
    {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
    }
    .portfolio{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around
        flex-direction: row;
        width: 1080px;

    }
}
*/
